/* Basic reset */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Full-screen body with dark background and enabled scrolling */
body {
    min-height: 100vh;
    background-color: #121212;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
    padding-top: 5vh; /* Adjust as needed for top spacing */
    text-align: center; /* Center aligns the text */
}

.centered-text {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 3px;
    text-shadow: 0 0 10px #fff;
    margin-bottom: 20px; /* Space between title and subtitle */
}

.description, .recent-work p, .comment {
    font-size: 13px; /* Fixed size for better control */
    color: white;
    opacity: 0.85; /* Adjust as needed */
    text-align: center;
    margin: 30px auto; /* Auto margins for horizontal centering */
    max-width: 600px; /* Match the width of the Reddit embed */
}

.recent-work {
    text-align: left;
    display: inline-block;
    max-width: 600px;
    margin: 50px auto;
}

.recent-work h2, h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.recent-work hr {
    border: 0.5px solid #ffffff50;
    margin-bottom: 20px;
}

.recent-work a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
}

.recent-work .reddit-embed-bq {
    max-width: 100%;
    margin: 30px auto;
}

.comments-section {
    background-color: #1e1e1e; /* Slightly lighter than the body background for contrast */
    border-radius: 25px; /* Rounded corners */
    padding: 1px;
    margin-top: 30px; /* Space from the previous content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

 p {
    color: #d1d1d1; /* Lighter text color for better readability */
    font-size: 0.95em; /* Slightly smaller font size */
}

.comment strong {
    color: orange; /* Color for the username to make it stand out */
}

/* Hover effect for the centered text */
.centered-text:hover {
    text-shadow: 0 0 20px #fff;
}

/* Transition for smooth hover effect */
.centered-text {
    transition: all 0.3s ease;
}

/* Media query for small screens */
@media (max-width: 600px) {
    .description, .recent-work p {
        font-size: 14px; /* Slightly smaller text on narrow screens */
    }
}
