/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 2;
}

.brand-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 10px rgba(255,255,255,0.7);
}

.content-container {
    background: linear-gradient(135deg, #070408, #11001c);
    color: white;
}

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 20px;
    color: white;
    text-align: center;
}

.skills, .contact {
    font-family: 'Montserrat', sans-serif;
    width: 30%;
    text-align: left;
}

.skills h2, .contact h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.recent-work {
    padding: 20px;
    color: #fff;
}

.recent-work h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: left;
}

.work-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        text-align: center;
    }

    .skills, .contact {
        width: 80%;
        margin: 10px 0;
    }
}
